#input {
    border-radius: 0px;
}
#inner-box {
    padding: 5px;
    border-radius: 10px;
}   
#box{
    margin: 5px;
}
*{
  font-family: DaddyTimeMono Nerd Font;
}
#window{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}